<!DOCTYPE html>
<html lang="en">

<head>
	<title>StandUp</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<% include partials/links %>
	<link rel="stylesheet" type="text/css" href="/assets/table.css" />

</head>

<body>
	<% include partials/flashmessage %>
	<div class="mainContainer">
		<div class="content">
			<% include partials/admin/sidebar %>
			<div class="innerContainer">
				<div class="heading">
					<h3>All Activities</h3>
				</div>
				<div class="tableContainer table-responsive">
					<table class="card-table table" id="table">

						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Instructions</th>
							<th>Activity Type</th>
							<th>Created By</th>
							<th>Created Date</th>
							<th>Actions</th>
						</tr>
						<% for (var key in activities) { %>
						<tr>
							<td><%= activities[key].name %></td>
							<td><%= activities[key].description %></td>
							<td><%= activities[key].instructions %></td>
							<td><%= activities[key].activityType %></td>
							<td><%= activities[key].createdBy %></td>
							<td><%= activities[key].createdAt.toDateString() %></td>
							<td class="links">
								<a href="/activity/view/<%= activities[key]._id %>"><i class="fa fa-eye" aria-hidden="true"></i></a>
							</td>
						</tr>

						<% } %>
					</table>
				</div>
			</div>
		</div>
	</div>
	<% include partials/scripts %>
		
</body>

</html>