<!DOCTYPE html>
<html lang="en">

	<head>
		<title>StandUp</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="/assets/table.css" rel="stylesheet" />
		<% include partials/links %>
	</head>

	<body>
		<div class="mainContainer" id="wrapper">
			<div class="content">
				<% include partials/admin/sidebar %>
				<div class="innerContainer">
					<% include partials/flashmessage %>
					<div class="heading">
						<i class="fa fa-bars fa-fw toggle" id="menu-toggle"></i>
						<h3>View Activity</h3>
						<a class="toplink" href="/activity/createquestion/<%= activity._id %>">Create Question</a>
					</div>
					<div class="tableContainer table-responsive">
						<h3>Activity</h3>
						<table id="table" class="card-table table">
							<tr>
								<th>Name</th>
								<th>Instructions</th>
								<th>Description</th>
								<th>Activity Type</th>
								<th>Created Date</th>
								<th>Actions</th>
							</tr>
							<tr>
								<td><%= activity.name %></td>
								<td><%= activity.instructions %></td>
								<td><%= activity.description %></td>
								<td><%= activity.activityType %></td>
								<td><%= activity.createdAt.toDateString() %></td>
								<td class="links">
									<a href="/activity/edit/<%= activity._id %>">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
									</a>
									<a href="/activity/delete/<%= activity._id %>"
										onclick="return confirm('Are you sure you want to delete this quiz?')">
										<i class="fa fa-trash" aria-hidden="true"></i>
									</a>
								</td>
							</tr>
						</table>
					</div>

					<% if(!question.length) { %>
						<div class="card">
							<div class="card-header s-custom-card-header">
								Questions
							</div>
							<div class="card-body">
								<h4 class="card-title s-custom-card-title">There is no question for this activity</h4>
								<button class="link" onclick="window.location.href='/events/all'">
									Create an Event
								</button>
							</div>
						</div>
					<% } else { %>
						<div class="tableContainer table-responsive">
							<h3>Questions And Answers</h3>
							<table id="table" class="card-table table">
								<tr>
									<th> Question </th>
									<th>Answers</th>
									<th>Correct Answer</th>
									<th>Actions</th>
								</tr>
								<% for (var key in question) { %>
								<tr>
									<td><%= question[key].question %></td>
									<td><%= question[key].answers %></td>
									<td><%= question[key].correctAnswer %></td>
									<td class="links">
										<a href="/activity/editquestion/<%= question[key]._id %>">
											<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
										</a>
										<a href="/activity/deletequestion/<%= question[key]._id %>"
											onclick="return confirm('Are you sure you want to delete this question?')">
											<i class="fa fa-trash" aria-hidden="true"></i>
										</a>
									</td>
								</tr>
								<% } %>
							</table>
						</div>
					<% } %>
				</div>
			</div>
		</div>
		<% include partials/scripts %>
	</body>

</html>
