<!DOCTYPE html>
<html lang="en">

<head>
	<title>StandUp</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="/assets/table.css" rel="stylesheet" />
	<% include partials/links %>
</head>

<body>
	<% include partials/flashmessage %>
	<div class="mainContainer">
		<div class="content">
			<% include partials/admin/sidebar %>
			<div class="innerContainer">
				<div class="heading">
					<h3>View Activity</h3>
					<a class="toplink" href="/activity/create/<%= activity._id %>/question">Create Question</a>
				</div>
				<div class="tableContainer">
					<table id="table" style="overflow-x:auto;">
						<tr>
							<th>Name</th>
							<th>Instructions</th>
							<th>Description</th>
							<th>Activity Type</th>
							<th>Created Date</th>
							<th>Actions</th>
						</tr>
						<tr>
							<td><%= activity.name %></td>
							<td><%= activity.instructions %></td>
							<td><%= activity.description %></td>
							<td><%= activity.activityType %></td>
							<td><%= activity.createdAt %></td>
							<td class="links">
								<a href="/activity/question/<%= activity._id %>/"><i class="fa fa-eye" aria-hidden="true"></i></a>
								<a href="/activity/edit/<%= activity._id %>">
									<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
								</a>
								<a href="/activity/delete/<%= activity._id %>" onclick="return confirm('Are you sure you want to delete this quiz?')">
									<i class="fa fa-trash-o" aria-hidden="true"></i>
								</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<% include partials/scripts %>
</body>

</html>