<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include partials/links %>
</head>

<body>
    <% include partials/flashmessage %>
    <div class="mainContainer">
        <div class="content">
            <% include partials/sidebar %>
            <div class="innerContainer">
                <div class="heading">
                    <h3>Activity Details</h3>
                </div>
                <div class="card">
                    <div class="card-header">
                        Activity
                    </div>
                    <table class="card-table table">
                        <thead>
                            <tr>
                                <th scope="col">Activity Name</th>
                                <th scope="col">Activity Type</th>
                                <th scope="col">Activity Description</th>
                                <th scope="col">Activity Instruction</th>
                                <th scope="col">Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%= activity.name %></td>
                                <td><%= activity.activityType %></td>
                                <td><%= activity.description %></td>
                                <td><%= activity.instructions %></td>
                                <% if ( activity.activityType.toLowerCase() == "quiz") { %>
                                <td><a class="secondary-link"
                                        href="/activity/start<%= activity.activityType.toLowerCase() %>/<%= activity.id %> ">Start
                                        <%= activity.activityType.toLowerCase() %> </a> </td>
                                <% } else { %>
                                <td><a class="secondary-link"
                                        href="/activity/start<%= activity.activityType.toLowerCase() %>/<%= activity.id %> ">Start
                                        <%= activity.activityType.toLowerCase() %></a></td>
                                <% } %>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <% include partials/scripts %>
</body>

</html>