<!DOCTYPE html>
<html lang="en">

    <head>
        <title></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <% include partials/links %>
    </head>

    <body>
        <div class="mainContainer" id="wrapper">
            <div class="content">
                <% include partials/sidebar %>
                <div class="innerContainer">
                    <% include partials/flashmessage %>
                    <div class="heading">
                        <i class="fa fa-bars fa-fw toggle" id="menu-togle"></i>
                        <h3>Activity Details</h3>
                    </div>
                    <div class="card">
                        <div class="card-header s-custom-card-header">
                            Activity
                        </div>
                        <div class="card-body">
                            <h4 class="card-title s-custom-card-title"><%= activity.name %></h4>
                            <h6 class="card-subtitle text-muted">Activity Type: </h6>
                            <p class="card-text s-custom-card-text"> <%= activity.activityType %></p>
                            <h6 class="card-subtitle text-muted">Created By: </h6>
                            <p class="card-text s-custom-card-text"><%= activity.createdBy %></p>
                            <h6 class="card-subtitle text-muted">Description:</h6>
                            <p class="card-text s-custom-card-text"><%= activity.description %></p>
                            <h6 class="card-subtitle text-muted">Activity Instructions:</h6>
                            <p class="card-text s-custom-card-text"><%= activity.instructions %></p>
                            
                            <% if (activityStatus) { %>
                                <h6 class="secondary-text" disabled> You have accessed this <%= activity.activityType.toLowerCase() %> </h6>
                                <% if ( activity.activityType.toLowerCase() == "quiz") { %>
                                    <button class="link" onclick="window.location.href='/userscores'">View Scores</button>
                                <% } %>  
                            <% } else if (!checkinStatus) { %>
                                <h6 class="secondary-text"> Kindly check-in to access this activity. </h6>
                                <button class="link" onclick="window.location.href='/events/details/<%= eventId %>'">Check-in Now</button>
                            <% } else { %>
                                <% if ( activity.activityType.toLowerCase() == "quiz") { %>
                                    <button class="link" onclick="window.location.href='/activity/start<%= activity.activityType.toLowerCase() %>/<%= activity.id %>'">
                                        Start <%= activity.activityType.toLowerCase() %>
                                    </button>
                                <% } else { %>
                                    <button class="link" onclick="window.location.href='/activity/start<%= activity.activityType.toLowerCase() %>/<%= activity.id %>'">  
                                        Start <%= activity.activityType.toLowerCase() %>
                                    </button>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/scripts %>
    </body>

</html>