<!DOCTYPE html>
<html lang="en">

<head>
	<title>StandUp</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<% include partials/links %>
</head>

<body>
	<% include partials/flashmessage %>
	<div class="mainContainer">
		<div class="content">
			<% include partials/admin/sidebar %>
			<div class="innerContainer">
				<div class="heading">
					<h3>Edit Event</h3>
				</div>
				<div class="formContainer">
					<form method="post" action="/events/edit/<%= event._id %>">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="name">Event Name</label>
								<input type="text" id="name" name="name" placeholder="Event name.." value="<%= event.name %>" required />
							</div>
						
						
							<div class="form-group col-md-6">
								<label for="activity">Activity </label>
								<select id="activity" name="activity">
									<option value="Poll">Poll</option>
									<option value="Quiz">Quiz</option>
									<option selected value="<%= event.activity %>">Quiz</option>
								</select>
							</div>
						</div>
						
						<div class='form-row'>
							<div class="form-group col-md-12">
								<label for="description">Description</label>
								<input type="text" id="description" name="description" placeholder="Description.." value="<%= event.description %>" />
							</div>
						
							
						</div>
						<div class="form-row">
							<!-- <div class="form-group col-md-4">
								<label for="description">Event Date Choosen</label>
								<input type="text" class="form-control" name="" value="<%= event.eventDate %>" readonly />
							</div> -->
							<div class="form-group col-md-6">
								<label for="description">Event Date</label>
								<input type="date" class="form-control" name="eventDate"  required/>
							</div>

							<div class="form-group col-md-6">
								<label for="answer 3">Status</label>
								<select id="department" name="status" required>
									<option value="pending">Pending</option>
									<option value="active">Active</option>
									<option selected value="<%= event.status %>"><%= event.status %></option>
								</select>
							</div>
							
						</div>
						
						<input type="hidden" id="event id" name="event_id" value="<%= event._id %>" />
					    <input type="submit" value="Submit">
					</form>
				</div>

			</div>
		</div>
	</div>
	<% include partials/scripts %>
</body>

</html>