<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<% include partials/links %>
</head>

<body>
	<% include partials/flashmessage %>
	<div class="mainContainer">
		<div class="content">
			<% include partials/admin/sidebar %>
			<div class="edit-profile">
				<h3>Edit Quiz</h3>
				<form method="post" action="/activity/edit/<%= question._id %>">
					<label for="Question">Questions</label>
					<br />
					<input type="text" id="question" name="question" placeholder="Question.."
						value="<%= question.question %>" />
					<br />
					<label for="answer 1">Answer 1</label>
					<input type="text" id="answer 1" name="answers[]" placeholder="Your answer.."
						value="<%= question.answers[0] %>" />
					<br />
					<label for="answer 2">Answer 2</label>
					<input type="text" id="answer 2" name="answers[]" placeholder="Your answer"
						value="<%= question.answers[1] %>" />
					<br />
					<label for="answer 3">Answer 3</label>
					<input type="text" id="answer 3" name="answers[]" placeholder="Your answer"
						value="<%= question.answers[2] %>" />
					<br />
					<label for="answer 3">Correct Answer</label>
					<input type="text" id="correctAnswer" name="correctAnswer" placeholder="Your answer"
						value="<%= question.correctAnswer %>" />
					<input type="hidden" id="event id" name="event_id" value="<%= question.event_id %>" />
					<button type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<% include partials/scripts %>
</body>

</html>