<!DOCTYPE html>
<html lang="en">

	<head>
		<title>StandUp</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<% include partials/links %>
	</head>

	<body>
		<% include partials/flashmessage %>
		<div class="mainContainer" id="wrapper">
			<div class="content">
				<% include partials/admin/sidebar %>
				<div class="innerContainer">
					<div class="heading">
						<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
							<i class="fa fa-bars fa-fw"></i>
						</a>
						<h3>Edit Event</h3>
					</div>
					<div class="formContainer">
						<form method="post" action="/events/edit/<%= event._id %>">
							<div class="form-row">
								<div class="form-group col-md-12">
									<label for="name">Event Name</label>
									<input type="text" id="name" name="name" placeholder="Event name.." value="<%= event.name %>" required />
								</div>
							</div>
							
							<div class='form-row'>
								<div class="form-group col-md-12">
									<label for="description">Description</label>
									<textarea class="form-control"  id="description" name="description" placeholder="Description.."><%= event.description %> </textarea>
								</div>
							
								
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="description">Event Date</label>
									<input type="date" id="date" class="form-control"  name="eventDate" value="" required/>
								</div>

								<div class="form-group col-md-6">
									<label for="answer 3">Status</label>
									<select id="department" name="status" required>
										<option value="pending">Pending</option>
										<option value="active">Active</option>
										<option selected value="<%= event.status %>"><%= event.status %></option>
									</select>
								</div>
								
							</div>
							<input type="hidden" id="event_date" name="event_id" value="<%= event.eventDate %>" />
							<input type="hidden" id="event id" name="event_id" value="<%= event._id %>" />
							<input type="submit" value="Submit">
						</form>
					</div>

				</div>
			</div>
		</div>
		<% include partials/scripts %>
		<script>
			let firstdate = document.getElementById("event_date").value;
			let sort = new Date(firstdate);
			let formatted_date = sort.getFullYear() +"-" + ((sort.getMonth() + 1) < 10 ? '0' : '') + (sort.getMonth() + 1) +"-" + ((sort.getDate() ) < 10 ? '0' : '')+ (sort.getDate());
			document.getElementById("date").value = formatted_date
		</script>
	</body>

</html>