<!DOCTYPE html>
<html lang="en">

<head>
    <title>StandUp</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include partials/links %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
    
    <style>
        .checkin-text {
            font-size: 15px !important;

        }
        .ribbon {
  width: 144px;
  height: 117px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #3498db;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -27px;
  left: -20px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}
    </style>
</head>

<body>
    <% include partials/flashmessage%>
    <div class="mainContainer">
        <div class="content">
            <% include partials/sidebar %>
            <div class="innerContainer">
                <div class="heading">
                    <h3>Event Details</h3>
                </div>
                <% for (var key in eventDetails) { %>
                <div class="card" style="position: relative;">
                    <div class="card-header">
                        Event
                    </div>
                    <div class="card-body">
                        <!-- <div class="ribbon ribbon-top-left"><span><%= eventDetails[key].eventDate.toDateString() %></span></div> -->
                        <h5 class="card-title custom-card-header"><%= eventDetails[key].name %></h5>
                        <h4 class="custom-badge">Number of Checkins:
                            <% if (checkin_counter == 0) { %>
                            <span class="badge badge-primary">0 </span>
                            <% } else { %>
                            <% for (var key in checkin_counter) { %>
                            <span class="badge badge-primary"><%= checkin_counter[key].myCount %></span>
                            <% } %>
                            <% } %>
                        </h4>
                        <p class="card-text" id="card-text"><%= eventDetails[key].description %>.</p>
                        <% if (userDetails.event_id.includes(eventDetails[key]._id)) { %>
                        <h5 class="checkin-text">You are checked-in</h5>
                        <% } else { %>
                        <form method="post" action="/events/checkin">
                            <input type="submit" value="Check-in" style="margin-left: -6px;">
                            <input type="hidden" name="user_id" value="<%= userDetails._id %>">
                            <input type="hidden" name="event_id" value="<%= eventDetails[key]._id %>">
                            <input type="hidden" name="checkin_Date" value= "<%= Date.now() %>">
                        </form>
                        <% } %>
                    </div>

                </div>
                <% } %>

               <div class="card">
                    <div class="card-header">
                        Activities
                    </div>
                    <% for (var element in eventDetails[key].activitydetails) { %>
                    <table class="card-table table">
                        <thead>
                            <tr>
                                <th scope="col">Activity Name</th>
                                <th scope="col">Activity Type</th>
                                <th scope="col">Activity Description</th>
                                <th scope="col">Created By</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><%= eventDetails[key].activitydetails[element].name %></td>
                                <td><%= eventDetails[key].activitydetails[element].activityType %></td>
                                <td><%= eventDetails[key].activitydetails[element].description %></td>
                                <td><%= eventDetails[key].activitydetails[element].createdBy %></td>
                                <td><a class="secondary-link"
                                        href="/activity/details/<%=eventDetails[key].activitydetails[element]._id %>">
                                        View Activity</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    </div>
    <% include partials/scripts %>
  
</body>

</html>