<!DOCTYPE html>
<html lang="en">
	<head>
		<title>StandUp</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<% include partials/links %>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
		<style>
			.checkin-text {
				font-size: 15px !important;

			}
		</style>
	</head>
	<body>
		<% include partials/flashmessage%>
		<div class="mainContainer">
			<div class="content">
				<% include partials/sidebar %>
				<div class="innerContainer">
					<div class="heading">
						<h3>Event Details</h3>
					</div>
					<% for (var key in eventDetails) { %>
						<div class="card" style="position: relative;">
							<div class="card-header">
								Event
							</div>
							<div class="card-body">
								<h5 class="card-title custom-card-header"><%= eventDetails[key].name %></h5>
								<h4 class="custom-badge">Number of Checkins:
									<% if (checkin_counter == 0) { %>
										<span class="badge badge-primary">0 </span>
									<% } else { %>
										<% for (var key in checkin_counter) { %>
											<span class="badge badge-primary"><%= checkin_counter[key].myCount %></span>
										<% } %>
									<% } %>
								</h4>
								<p class="card-text" id="card-text"><%= eventDetails[key].description %>.</p>
								<% if (userDetails.event_id.includes(eventDetails[key]._id)) { %>
									<h5 class="checkin-text">You are checked-in</h5>
								<% } else { %>
									<form method="post" action="/events/checkin">
										<input type="submit" value="Check-in" style="margin-left: -6px;">
										<input type="hidden" name="user_id" value="<%= userDetails._id %>">
										<input type="hidden" name="event_id" value="<%= eventDetails[key]._id %>">
										<input type="hidden" name="checkin_Date" value="<%= Date.now() %>">
									</form>
								<% } %>
							</div>
						</div>
					<% } %>
					<div class="card">
						<div class="card-header">
							Activities
						</div>
						
						<table class="card-table table">
							<thead>
								<tr>
									<th scope="col">Activity Name</th>
									<th scope="col">Activity Type</th>
									<th scope="col">Activity Description</th>
									<th scope="col">Created By</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>
								<% for (var element in eventDetails[key].activitydetails) { %>
									<tr>
										<td><%= eventDetails[key].activitydetails[element].name %></td>
										<td><%= eventDetails[key].activitydetails[element].activityType %></td>
										<td><%= eventDetails[key].activitydetails[element].description %></td>
										<td><%= eventDetails[key].activitydetails[element].createdBy %></td>
										<td>
											<a class="secondary-link" href="/activity/details/<%=eventDetails[key].activitydetails[element]._id %>">
												View Activity
											</a>
										</td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<% include partials/scripts %>
	</body>
</html>