<!DOCTYPE html>
<html lang="en">

<head>
    <title>StandUp</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include partials/links %>
</head>

<body>
    <% include partials/flashmessage %>
    <div class="mainContainer">
        <div class="content">
            <% include partials/admin/sidebar %>
            <div class="innerContainer">
                <div class="heading">
                    <h3>Event Details</h3>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body">

                        <h5 class="card-title "><%= event.name %></h5>
                        <p class="card-text" id="card-text"><%= event.description %>.</p>
                        <p class="date"><%= event.eventDate %></p>
                        <% if (userDetails.event_id.includes(event._id.toString())) { %>
                        <h3>You are checked-in</h3>
                        <% } else { %>
                        <form method="post" action="/events/checkin">
                            <button type="submit">Check-in</button>
                            <input type="hidden" name="user_id" value="<%= userDetails._id %>">
                            <input type="hidden" name="event_id" value="<%= event._id %>">
                            <input type="hidden" name="checkin_Date" value="Date.now()">
                        </form>
                        <% } %>
                        <h3>Activities</h3>
                        <% for (var key in eventActivity) { %>
                     
                        <li><%= eventActivity[key].activityType %> <span> <a href="/activity/details/<%=eventActivity[key]._id %>">
                                    View Activity</a></span></li>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include partials/scripts %>
</body>

</html>