<!DOCTYPE html>
<html lang="en">
	<head>
		<title>StandUp</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<% include partials/links %>
		<link href="/assets/table.css" rel="stylesheet" />
	</head>
	<body>
		<div class="mainContainer" id="wrapper">
			<div class="content">
				<% include partials/sidebar %>
				<div class="innerContainer">
					<% include partials/flashmessage%>
					<div class="heading">
						<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
							<i class="fa fa-bars fa-fw"></i>
						</a>
						<h3>Event Details</h3>
					</div>
					<% for (var key in eventDetails) { %>
						<div class="card" style="position: relative;">
							<div class="card-header s-custom-card-header">
								Event
							</div>
							<div class="card-body">
								<h5 class="card-title s-custom-card-title"><%= eventDetails[key].name %></h5>
								<h4 class="custom-badge text-white">Number of people checked-in:
									<% if (checkin_counter == 0) { %>
										<span class="badge">0 </span>
									<% } else { %>
										<% for (var key in checkin_counter) { %>
											<span class="badge"><%= checkin_counter[key].myCount %></span>
										<% } %>
									<% } %>
								</h4>
								<p class="card-text" id="card-text"><%= eventDetails[key].description %>.</p>
								<% if (userDetails.event_id.includes(eventDetails[key]._id)) { %>
									<h5 class="checkin-text">You are checked-in</h5>
								<% } else { %>
									<form method="post" action="/events/checkin">
										<button type="submit" class="link" style="margin-left: -6px;">Check-in</button>
										<input type="hidden" name="user_id" value="<%= userDetails._id %>">
										<input type="hidden" name="event_id" value="<%= eventDetails[key]._id %>">
										<input type="hidden" name="checkin_Date" value="<%= Date.now() %>">
									</form>
								<% } %>
							</div>
						</div>
					<% } %>
					<div class="tableContainer table-responsive">
						<h5>Activities</h5>
						<table class="card-table table" id="table">
							<thead>
								<tr>
									<th scope="col">Activity Name</th>
									<th scope="col">Activity Type</th>
									<th scope="col">Activity Description</th>
									<th scope="col">Created By</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>
								<% for (var element in eventDetails[key].activitydetails) { %>
									<tr>
										<td><%= eventDetails[key].activitydetails[element].name %></td>
										<td><%= eventDetails[key].activitydetails[element].activityType %></td>
										<td><%= eventDetails[key].activitydetails[element].description %></td>
										<td><%= eventDetails[key].activitydetails[element].createdBy %></td>
										<td style= "width: 12rem;">
											<button class="secondary-link" onclick="window.location.href='/activity/details/<%=eventDetails[key].activitydetails[element]._id %>'"> View
												Activity</button>
										</td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<% include partials/scripts %>
		<!-- <script>
			document.location.reload(true);
		</script> -->
	</body>
</html>