<!DOCTYPE html>
<html lang="en">

<head>
    <title>StandUp</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <% include partials/links %>
</head>

<body>
    <% include partials/flashmessage %>
    <div class="mainContainer">
        <div class="content">
            <% include partials/sidebar %>
            <div class="innerContainer">
                <div class="heading">
                    <h3>User Score</h3>
                   
                </div>
                <% if ( <%= userscore.score %> < 50 ) { %>
            <div class="userscore-container">
                <img src="https://cdn.pixabay.com/photo/2019/01/24/05/40/emoji-3951738_960_720.png" alt="">
                <h3><%= userscore.score %></h3>
            </div>
                <% } else if( <%= userscore.score %> = 50 || < 70 ) { %>
                <div class="userscore-container">
                    <h3><%= userscore.score %></h3>
                </div>
                <% } else { %> 
               <div class="userscore-container">
                    <h3><%= userscore.score %></h3>
                </div>
                <% } %>
            </div>
            <% include partials/scripts %>
        </div>
    </div>
</body>

</html>