<!DOCTYPE html>
<html lang="en">

<head>
	<title>StandUp</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<% include partials/links %>
</head>

<body>
	<div class="mainContainer" id="wrapper">
		<div class="content">
			<% include partials/sidebar %>
			<div class="innerContainer">
				<% include partials/flashmessage %>
				<% if(!questions.length) { %>
				<div class="heading">
					<i class="fa fa-bars fa-fw toggle" id="menu-toggle"></i>
					<h3>Sorry, there is no data to display</h3>
				</div>
				<% } else { %>
				<div class="heading">
					<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
						<i class="fa fa-bars fa-fw"></i>
					</a>
					<h3>Answer the following questions</h3>
				</div>
				<div class="formContainer" id="questionForm" style="margin-left: 20px;">
					<form method="POST" action="/userresponses" id="form">
						<% for(var key in questions) { %>
						<div class="noactive" id="<%= [key] %>">
							<label for="question"><%= questions[key].question %> ?</label>
							<br />
							<input type="hidden" name="activity_id" class="check"
								value="<%= questions[key].activity_id %>">
							<input type="hidden" name="question_id[]" class="check" value="<%= questions[key]._id %>">
							<section class="options">
								<input type="radio" class="radio-big" onchange="onChange(this)" name="option"
									value="<%=questions[key].answers[0] %>"><%= questions[key].answers[0] %> <br>
								<input type="radio" class="radio-big" onchange="onChange(this)" name="option"
									value="<%=questions[key].answers[1] %>"><%= questions[key].answers[1] %> <br>
								<input type="radio" class="radio-big" onchange="onChange(this)" name="option"
									value="<%=questions[key].answers[2] %>"><%= questions[key].answers[2] %> <br>
								<input type="hidden" class="selected" name="answer[]" value="">
							</section>
							<br>
							<button type="button" value="0" class="button nextbtn link" id="nextbtn" onclick="next()" style="margin-left: 3rem;">
								Next
							</button>
						</div>
						<% } %>
					</form>
				</div>
				<% } %>
			</div>
		</div>
	</div>
	<% include partials/scripts %>
	<script>
		start();
		function start() {
			let currentDiv = document.getElementById("0");
			currentDiv.classList.remove("noactive");
			currentDiv.classList.add("active");
		}
		function next() {
			if (!document.querySelector("input:checked")) {
				alert("You are required to choose an answer");
			}
			else {
				let nextbtn = document.querySelector(".nextbtn").value;
				let submissionArray = [];
				let x = document.querySelectorAll(".check, input:checked");
				submissionArray.push(x);
				let divs = document.querySelectorAll("form div");
				let currentDiv = document.querySelector(".active");
				let currentId = currentDiv.id;
				let counter = ++currentId;
				console.log(counter);
				currentDiv.classList.remove("active");
				currentDiv.classList.add("noactivediv");
				let nextDiv = divs[counter];
				console.log(nextDiv);
				if (!nextDiv) {
					document.forms["form"].submit();
				} else {
					nextDiv.classList.remove("noactive");
					nextDiv.classList.add("active");
					if (counter == divs.length - 1) {
						let submitBtn = document.querySelector(".active .nextbtn");
						submitBtn.innerText = "Submit"
						submitBtn.type = "submit"
						document.getElementById("form").appendChild = nextDiv;
					} else {
						document.getElementById("form").appendChild = nextDiv;
					}
				}


			}
		}
		function onChange(answer) {
			let parent = answer.parentElement;
			console.log(parent);
			let selected = parent.querySelector(".selected");
			let choice = answer.value;
			selected.value = choice;
		}
	</script>

</body>

</html>